.header {
    @include flex(center, center);
    flex-direction: column;
    box-shadow: 0px 10px 10px 0px #00000080;

    &__title {
        @include font(3rem, 4rem, 700);
        color: $color-active-key;
    }
}