.screen {
    width: 100%;
    min-width: 75rem;
    height: 20rem;
    padding: 1rem;
    color: $color-primary-text;
    background-color: $color-screen;
    overflow: auto;
    @include font(2rem, 3rem, 500);
}